<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head th:include="fragment/common :: headerFragment" />

    <body>

        <div th:include="fragment/common :: navFragment" />
        
        <div class="jumbotron masterjumbotron">
            <h1 th:text="${appname}">Application Name</h1>
            <p th:text="${appdescription}">Description of the application</p>
        </div>

        <!-- Page Content -->
        <div class="container">

            <!-- Plants Row -->
            <div class="row" th:if="${#lists.isEmpty(plants)}">
                <div class="col-lg-12">
                    <p>Not yet discovered any plants!</p>
                </div>
            </div>
            
            <div class="row" th:unless="${#lists.isEmpty(plants)}">
                <div class="col-md-3 portfolio-item" th:each="plant : ${plants}">
                    <a th:href="@{/plants/{id}(id=${plant.id})}">
                        <img style="height:auto; width:auto; max-width:200px; max-height:100px;" th:src="@{/plants/{id}/content(id=${plant.id})}" />
                    </a>
                </div>
            </div>
            <!-- /.row -->

            <hr />

            <footer th:include="fragment/common :: footerFragment" />

        </div>
        <!-- /.container -->

        <div th:include="fragment/common :: dialogFragment" />
        <div th:include="fragment/common :: scriptFragment" />

    </body>

</html>
