<!DOCTYPE html>
<html lang="fi" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head th:include="fragment/common :: headerFragment" />

    <body>

        <div th:include="fragment/common :: navFragment" />

        <!-- Page Content -->
        <div class="container">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <h1 class="page-header">Login</h1>
                    <!-- if not logged in -->
                    <div id="login-form" th:if="${#httpServletRequest.remoteUser} == null">
                        <div class="alert label-danger" role="alert" th:if="${param.error}">
                            Invalid username or password! Please try again.
                        </div>
                        <div class="alert label-success" role="alert" th:if="${param.logout}">
                            You have been logged out!
                        </div>
                        <form th:action="@{/login}" method="post">
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" id="username" name="username" class="form-control" placeholder="Username" />
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" id="password" name="password" class="form-control" placeholder="Password" />
                            </div>
                            <!-- if we implement "remember me" -->
                            <!-- <div class="checkbox"> <label for=""><input type="checkbox">Remember me</label> </div> -->
                            <div>
                                <button type="submit" class="btn btn-primary">Sign in</button>
                            </div>
                            <p class='help-block'>Don't have an account yet? <a th:href="@{/signup}">Sign up &raquo;</a></p>
                        </form>
                    </div>
                    <!-- if already logged in -->
                    <div th:if="${#httpServletRequest.remoteUser} != null">
                        <div class="alert alert-info" th:inline="text">
                            You are logged in as [[${#httpServletRequest.remoteUser}]]
                        </div>
                        <a th:href="@{/}" role="button" class="btn btn-primary">Go home</a>
                        <a th:href="@{/logout}" role="button" class="btn btn-warning">Logout</a>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
            <!-- /.row -->

            <hr />

            <footer th:include="fragment/common :: footerFragment" />

        </div>
        <!-- /.container -->

        <div th:include="fragment/common :: dialogFragment" />
        <div th:include="fragment/common :: scriptFragment" />

    </body>

</html>
