<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head th:include="fragment/common :: headerFragment" />

    <body>

        <div th:include="fragment/common :: navFragment" />

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="page-header">Add new plant</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <form role="form" method="POST" action="#" th:action="@{users/{userId}/upload(userId=${userId})}" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="name">*Name:</label>
                                <input class="form-control" type="text" name="name" placeholder="Name" />
                            </div>
                            <div class="form-group">
                                <label for="family">Family:</label>
                                <input class="form-control" type="text" name="family" placeholder="Family" />
                            </div>
                            <div class="form-group">
                                <label for="genus">Genus:</label>
                                <input class="form-control" type="text" name="genus" placeholder="Genus" />
                            </div>
                            <div class="form-group">
                                <label for="species">Species:</label>
                                <input class="form-control" type="text" name="species" placeholder="Species" />
                            </div>
                            <p class="text-warning">If genus or family are not present, this plant will be marked as unidentified.</p>
                            <p class="text-warning">* name is required</p>
                            <input type="file" class="file" name="file" id="file" date-preview-file-type="text" />
                        </form>
                    </div>
                    <div class="col-sm-3"></div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h2 class="page-header">Your Recent uploads</h2>
                    </div>
                </div>
            
                <div class="row" th:if="${#lists.isEmpty(userPlants)}">
                    <div class="col-md-12">
                        <p class="help-block">You don't have any plants in your collection!</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6 col-md-3" th:each="plant : ${userPlants}">
                        <div class="thumbnail">
                            <a th:href="@{/plants/{id}(id=${plant.id})}">
                                <img style="max-width:150px; max-height:150px" th:src="@{/plants/{id}/content(id=${plant.id})}"/>
                            </a>
                            <div class="caption">
                                <h3 th:text="${plant.name}">Name</h3>
                                <form role="form" action="#" th:action="@{/users/{userId}/plants/{plantId}/delete(plantId=${plant.id},userId=${userId})}" method="POST">
                                    <!-- <input type="hidden" name="_method" value="DELETE" /> -->
                                    <button type="submit" value="Delete" class="btn btn-danger btn-block">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            <hr />

            <footer th:include="fragment/common :: footerFragment" />

        </div>
        <!-- /.container -->

        <div th:include="fragment/common :: dialogFragment" />
        <div th:include="fragment/common :: scriptFragment" />

    </body>

</html>
