<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head th:include="fragment/common :: headerFragment" />

    <body>

        <div th:include="fragment/common :: navFragment" />

        <!-- Page Content -->
        <div class="container">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header" th:text="${username}">Username</h1>
                    <small th:text="${name}">Name</small>
                </div>
            </div>
            <!-- /.row -->
            <h2 class="page-header">Pictures</h2>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div th:if="${#lists.isEmpty(plants)}">No pictures yet</div>
                        <div th:each="plant : ${plants}">
                            <div class="col-md-3 portfolio-item">
                                <a th:href="@{/plants/{id}(id=${plant.id})}">
                                    <img style="height:auto; width:auto; max-width:200px; max-height:100px;" th:src="@{/plants/{id}/content(id=${plant.id})}"/>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
                <div>
                    <h2 class="page-header">Add new content</h2>

                    <form method="POST" action="/plants" enctype="multipart/form-data">
                        <input type="file" name="file" id="file"/>
                        <input type="hidden" name="username" id="username" value="" th:attr="value=${username}"/>
                        <input type="submit" value="Add"/>
                    </form>





                </div>

            </div>
            <footer th:include="fragment/common :: footerFragment" />

        </div>
        <!-- /.container -->

        <div th:include="fragment/common :: dialogFragment" />
        <div th:include="fragment/common :: scriptFragment" />


    </body>

</html>