body {
    padding-top: 51px;
}

.masterjumbotron {
    background-color: #69C34F;
    text-align: center;
    color: #ffffff;
    text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
    background: linear-gradient(0deg, #69C34F 50%, #48a13f 100%);
}

.masterjumbotron h1 {
    font-size: 70px;
}

@media (min-width: 768px) { 
    .masterjumbotron h1 {
        font-size: 120px;
    }
}

.navbar-inverse .navbar-nav>li>a:link, .navbar-inverse .navbar-brand {
    color: #ffffff;
}

.navbar-inverse .navbar-nav>li>a:visited, .navbar-inverse .navbar-brand {
    color: #ffffff;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-brand {
    color: #e0e0e0;
}

.navbar-inverse .navbar-nav>li>a:active, .navbar-inverse .navbar-brand {
    color: #ffffff;
}
